[dir="rtl"] .header-top .social-icons ul li {
    margin-left: 15px;
    margin-right: 0;
}
[dir="rtl"] .header-top .social-icons ul li:last-child {
    margin-left: 0 !important;
}
[dir="rtl"] .header-section .header-top .container {
    padding: 0 !important;
}
[dir="rtl"] .header-top .contact ul li:first-child {
    border-left: 1px solid #d0d5dd;
    border-right: 0;
}
[dir="rtl"] .header-top .contact ul li {
    margin-left: 20px;
    padding-left: 20px;
    margin-right: 0;
    padding-right: 0;
}

@media only screen and (min-width: 0px) and (max-width: 580px) {
    [dir="rtl"] .header-section .header-top .container {
        padding: 0px 15px !important;
    }
}
