.mybazar-login-section .forget-password input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 1px solid #d0d5dd !important;
    background: #c52127 !important;
    margin-right: 5px;
    margin-top: -1px;
}

.text-custom-primary,
.text-custom-primary:hover {
    color: #c52127;
    font-weight: bold;
}

.mybazar-login-section
    .forget-password
    input[type="checkbox"]:checked
    + .custom-control-label::before {
    color: #ffffff;
}

.mybazar-login-section .forget-password input[type="checkbox"]:checked {
    accent-color: #3291d4 !important;
}

.indicate-text {
    font-size: 12px;
    color: red;
}

.form-control.error {
    border-color: red;
    padding: 0.375rem 0.75rem;
}
.image-wrapper.error {
    border-color: red;
    padding: 0.375rem 0.75rem;
}
.error-alert {
    font-size: 11px;
    color: red;
}

.error {
    color: red !important;
}

.budget-form .form-control[readonly] {
    background-color: #fff !important;
}
.budget-form ::placeholder {
    font-size: 12px;
}

.avatar {
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 16px 0px #00000026;
    border-radius: 50%;
    color: #e3eaef;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    position: relative;
    vertical-align: middle;
    line-height: 1.28;
    height: 45px;
    width: 45px;
}

.avatar.avatar-sm {
    font-size: 12px;
    height: 30px;
    width: 30px;
}

.avatar img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.btn-custom-warning {
    background-color: #fff !important;
    color: #00987f;
    border: 1px solid #fff !important;
}
.btn-custom-warning:hover {
    color: #fff !important;
    background-color: transparent !important;
    border: 1px solid #fff !important;
}

.custom-warning-color {
    color: #c52127;
}

.roles-permissions table td {
    color: black;
}

.img-preview {
    margin-top: 4px;
    height: auto;
    width: 100px;
}

.folders-files tr a {
    font-size: 18px !important;
}

.gradient-row {
    background: linear-gradient(270deg, #dbe4df 0%, #65e4a6 50%, #ffffff 100%);
}

@media print {
    .table-two thead td {
        padding: 0px !important;
    }
}

.order-form-section label,
.permission label,
.role-input-label label {
    /* left: 10px; */
    white-space: nowrap;
}

.table-form-section .responsive-table {
    min-height: unset !important;
}
.table-title-three h5 {
    font-weight: 600 !important;
}
.loss-profit-custom-color1 {
    background-color: rgba(255, 132, 0, 0.15);
}
.loss-profit-custom-color2 {
    background-color: rgba(255, 181, 101, 1);
    font-weight: bold;
}
.production-wrap {
    padding-right: 60px;
}
.form-control.reset-img {
    display: none;
}
.print-wrapper .responsive-table {
    min-height: unset;
}

.print-wrapper .table th,
.print-wrapper .table td {
    white-space: nowrap;
}

.print-wrapper {
    min-height: 700px !important;
}

.table-header h3,
.table-header h4 {
    font-weight: 700;
}

.privacy-condition-header h4 {
    font-weight: 700;
}

.erp-new-invice .invice-detaisl {
    padding: 20px 0;
}

.commercial-invoice {
    margin-bottom: 30px;
}

.invoice-payment-details {
    margin-top: 40px;
}

.erp-new-invice {
    min-height: 900px !important;
}

/* dropdown font size reduce */
.form-select {
    font-size: 1rem;
}

.product-img {
    height: 100px;
    width: 250px;
    border-radius: 2%;
    overflow: hidden;
    border: 2px dashed #e4e5e7;
}

.form-control .form-control {
    border: 0 !important;
}

.table-user-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--clr-gray4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.table-user-icon img {
    height: 25px;
}
.ctg-icon img {
    max-height: 40px;
    width: auto;
    margin: 0 auto;
}

/*delete modal*/
.delete-modal {
    text-align: center;
    margin-bottom: 20px;
}
.delete-modal h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 5px;
}
.delete-modal p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.multiple-button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 24px;
}
.subscription-label {
    position: relative;
    top: -12px;
    flex: wrap !important;
}

.chart-css {
    width: 100% !important;
    max-height: 320px !important;
}
.subscription-css {
    width: 100% !important;
    max-height: 270px !important;
}
.rounded-image .table-img {
    width: 40px;
    height: 40px;
}

.width-10 {
    width: 10px;
}

.add-feature-btn {
    min-height: 30px;
    padding: 4px 20px;
    background: #c52127 !important;
    border: none !important;
    color: #ffffff !important;
    border-radius: 5px;
}

.remove-list {
    position: relative;
}
.remove-list .remove-one {
    background: transparent !important;
    /* background: linear-gradient(90deg, #C52127 0%, #C52127 100%) !important; */
    color: #fff !important;
    height: 50px;
    width: 50px;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.remove-list .remove-one i {
    color: #ff3030;
}
.feature-add-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.feature-add-wrp .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-container {
    border: 1px solid #ccc;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    display: inline-block;
}

.top-btn-custom {
    text-decoration: none;
    border: none;
}

.top-btn-custom:hover,
.top-btn-custom:active {
    color: #007bff;
    text-decoration: underline;
    border: none;
    text-underline-offset: 18px;
}

.top-btn-custom.active {
    text-decoration: underline;
    color: #007bff;
    font-weight: bold;
    border: none;
    text-underline-offset: 18px;
}

.card {
    border: 0;
    box-shadow: 0px 4px 24px 0px #e4c3c30d;
    border-radius: 12px;
}

.table th {
    border-bottom: 1px solid #d8d8d8;
    background: #f9f8f8;
    border: 0;
}

.delete-selected {
    cursor: pointer;
}

.custom-primary {
    color: #c52127;
}

.table-hidden-checkbox {
    display: none;
}

/* Style the custom checkbox */
.table-custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    padding-left: 35px;
    line-height: 24px;
}

/* Create the custom checkmark */
.table-custom-checkmark {
    position: absolute;
    top: -9px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Style the checkmark when checked */
.table-hidden-checkbox:checked + .table-custom-checkmark {
    background: linear-gradient(261.7deg, #14b8a6 2.74%, #00987f 99.02%);
    border-color: #2196f3;
}

/* Add the tick mark inside the checkbox */
.table-custom-checkbox .custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the tick mark when the checkbox is checked */
.table-custom-checkbox
    .table-hidden-checkbox:checked
    + .custom-checkmark:after {
    display: block;
}

/* Style the tick mark */
.table-custom-checkbox .custom-checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Customize the label text color and size */
.table-custom-checkbox {
    color: #333;
    font-family: Arial, sans-serif;
}

.dropdown-menu-scroll {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.language-li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-check {
    color: #00ae1c;
    font-weight: 400;
    font-size: 16px;
}
#datePicker {
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.select-batch {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.select-batch:hover {
    background-color: #c5212712;
}
