@media only screen and (min-width: 0) and (max-width: 1400px) {
    .lang-grid {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
}
@media only screen and (min-width: 0) and (max-width: 1200px) {
    .slick-slider-section img {
        width: 100% !important;
        height: auto !important;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    /* header */
    .header-section .menu-dropdown .mega-menu {
        padding: 20px 5% !important;
    }

    .about-section .icon h6 {
        font-size: 14px;
        line-height: 24px;
    }

    /* footer */
    .footer-section p,
    .footer-section li,
    .footer-section li a {
        font-size: 14px;
    }
    .footer-section li {
        margin-bottom: 5px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
    .home-banner-section .banner-content h1 {
        font-size: 39px;
        line-height: 47px;
    }
    body h2 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* header */
    .header-section a,
    .header-section .nav-link {
        padding: 6px 11px !important;
    }
    .header-section .menu-dropdown .mega-menu {
        padding: 20px 3% !important;
    }
    .header-section .menu-dropdown .mega-menu li {
        width: 30% !important;
    }
    /* Slick */
    .slick-slider-section .slick-prev {
        left: 5px !important;
        top: -15px !important;
    }
    .slick-slider-section .slick-next {
        right: 5px !important;
        top: -15px !important;
    }

    .about-section .view-more {
        text-align: center;
        margin-bottom: 50px;
    }

    /* footer */
    .footer-section p,
    .footer-section li,
    .footer-section li a {
        font-size: 11px;
    }
    .footer-section li {
        margin-bottom: 0px;
    }
    .footer-section br {
        display: none;
    }
}
@media only screen and (min-width: 0px) and (max-width: 1400px) {
    .shape-one,
    .shape-two,
    .shape-three,
    .shape-four,
    .shape-bg-three {
        display: none !important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 992px) {
    .section-title {
        margin-bottom: 20px !important;
    }
    .home-banner-section {
        top: 0 !important;
    }
    .home-banner-section .banner-content h1 {
        font-size: 44px;
        line-height: 54px;
    }
    /* header */
    .header-section {
        background-color: #0d0d16;
    }
    .header-section .header-logo {
        margin: 15px 0px;
    }
    .header-section .nav-link img {
        width: auto !important;
    }
    .home-banner-section .banner-img {
        display: none !important;
    }
    /* Slick */
    .slick-slider-section .slick-prev {
        left: 5px !important;
        top: -15px !important;
    }
    .slick-slider-section .slick-next {
        right: 5px !important;
        top: -15px !important;
    }

    .about-section .view-more {
        text-align: center;
        margin-bottom: 50px;
    }

    .faqs-section .custom-accordion {
        width: 100%;
    }
    .contact-section .contact-image img {
        height: 400px;
    }
    .max-992-d-none {
        display: none !important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
    /* faq */
    .faqs-section .accordion-button {
        font-size: 17px;
        line-height: 22px;
        padding: 0px !important;
    }
    .faqs-section .accordion-body {
        padding: 10px 25px 0px 0px !important;
    }
    .faqs-section .accordion-body p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 0;
    }
    .package-section .section-title {
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 550px) and (max-width: 992px) {
    body .h6-line-clamp {
        -webkit-line-clamp: 1;
        height: auto;
    }
}
@media only screen and (min-width: 0px) and (max-width: 550px) {
    section {
        padding: 30px 0px;
    }
    body h2 {
        font-size: 25px;
        line-height: 32px;
    }
    body h5 {
        font-size: 20px;
        line-height: 25px;
    }
    /* home banner */

    .home-banner-section .banner-content h1 {
        font-size: 38px !important;
        line-height: 42px;
    }

    /* Slick */
    .slick-slider-section .slick-prev,
    .slick-slider-section .slick-next {
        display: none !important;
    }

    .time-event-section h2 {
        max-width: 355px;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
    .demo-btn-group a:last-child span:last-child {
        display: none;
    }
    .home-banner-section .banner-content h1 {
        font-size: 28px;
        line-height: 38px;
    }
    body .modal-custom-design .modal-title {
        max-width: 300px;
    }
    body .modal-custom-design .btn-close {
        padding: 7px 12px !important;
    }
    body .modal-custom-design iframe {
        height: 280px !important;
    }
}
@media (min-width: 992px) {
    .header-section .mobile-menu {
        display: none;
    }
    .min-992-d-none {
        display: none !important;
    }
}
@media (min-width: 1400px) {
    .home-service-section {
        width: 100%;
        background-image: url("../images/service/service-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -50px;
    }
}
@media (max-width: 1400px) {
    .home-service-section {
        background: linear-gradient(
            to right,
            rgba(255, 137, 0, 0.12),
            rgba(13, 154, 255, 0.12)
        );
    }
}

@media (max-width: 1536px) {
    .home-banner-section {
        /* background-image: url("../web/images/banner/herobg2.svg") !important; */
    }
    .home-banner-section .banner-content h1 {
        font-size: 52px;
        line-height: 62px;
    }
    .custom-btn {
        font-size: 17px !important;
    }
    .home-banner-section .stat-container .stat-content .single-item h2 {
        font-size: 28px;
    }
    .home-banner-section .stat-container .stat-content .single-item p {
        font-size: 15px;
    }
    .langing-section-subtitle {
        font-size: 18px;
    }
    .langing-section-title {
        font-size: 36px;
    }
    .card-header p {
        font-size: 28px;
    }
    .single-features {
        font-size: 17px;
    }
    .customer-section .customer-card h5 {
        font-size: 20px;
    }
    .footer-section .footer-title {
        font-size: 20px !important;
    }
    .home-banner-section .element1 {
        top: 150px;
        left: 110px;
    }
    .home-banner-section .element3 {
        top: 110px;
        left: 220px;
        width: 200px !important;
        width: 115px !important;
        object-fit: contain;
    }
}
@media (max-width: 1150px) {
    .logo-lg-device {
        display: none !important;
    }
    .header-section {
        padding: 20px 0px;
    }
}

@media (max-width: 1200px) {
    .watch-video-content {
        text-align: center;
    }
    .watch-video-content h3 {
        margin: auto;
    }
    .home-banner-section .element3 {
        display: none !important;
    }
    .contact-section .contact-image img {
        height: 450px !important;
        width: 450px !important;
    }
}

@media (max-width: 1380px) {
    .hero-img-container img {
        width: 900px !important;
        height: 400px !important;
    }
    .home-banner-section .hero-bg {
        height: 775px !important;
    }
}
@media (max-width: 1024px) {
    .hero-img-container img {
        width: 700px !important;
        height: 300px !important;
    }
    .home-banner-section .hero-bg {
        height: 675px !important;
    }
}
@media (max-width: 800px) {
    .hero-img-container img {
        width: 500px !important;
        height: 200px !important;
    }
    .home-banner-section .hero-bg {
        height: 600px !important;
        border-radius: 20px;
    }
}
@media (max-width: 700px) {
    .hero-img-container img {
        width: 320px !important;
        /* height: 400px !important; */
    }
}

@media (max-width: 1366px) {
    .home-banner-section .element1 {
        top: 150px !important;
    }
    .home-banner-section .element3 {
        top: 150px !important;
    }
    .home-banner-section .element2 {
        top: 150px !important;
    }
    .home-banner-section .banner-content h1 {
        font-size: 45px !important;
        line-height: 50px;
        padding-top: 55px;
    }
}
@media (max-width: 768px) {
    .home-banner-section .banner-content h1 {
        font-size: 38px !important;
    }
    .custom-container {
        padding: 0 40px;
    }
    .get-arrow {
        display: none;
    }
}
@media (max-width: 640px) {
    .custom-container {
        padding: 0 12px;
    }
    .footer-shape2 {
        display: none !important;
    }
    .footer-shape1 {
        display: none !important;
    }
    .contact-section .contact-image img {
        height: 100% !important;
        width: 100% !important;
    }
}
@media (max-width: 1400px) {
    .slick-slider-section img {
        height: auto;
        width: auto;
    }
}
@media (max-width: 576px) {
    .video-wrapper img {
    }
    .home-banner-section .banner-content h1 {
        font-size: 30px !important;
        line-height: 34px;
        padding-top: 25px;
    }
    .nav-logo {
        height: 45px !important;
        width: 155px !important;
    }
    .header-section .get-app-btn {
        padding: 10px 14px !important;
    }
}

@media (max-width: 400px) {
    .hero-img-container img {
        width: 280px !important;
    }
}
